<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="idGenSection" type="IdGen.Configuration.IdGeneratorsSection, IdGen" />
  </configSections>

  <idGenSection>
    <idGenerators>
      <idGenerator name="foo" id="123"  epoch="2016-01-02T12:34:56" timestampBits="39" generatorIdBits="11" sequenceBits="13" tickDuration="0:00:00.05" />
      <idGenerator name="bar" id="987"  epoch="2016-02-01 01:23:45" timestampBits="20" generatorIdBits="21" sequenceBits="22" tickDuration="1:02:03" />
      <idGenerator name="baz" id="2047" epoch="2016-02-29"          timestampBits="21" generatorIdBits="21" sequenceBits="21" tickDuration="0:00:00.00000007" />

      <idGenerator name="nt"  id="0"    epoch="2016-02-29"          timestampBits="21" generatorIdBits="21" sequenceBits="21" />
      
      <idGenerator name="e1" id="1"     epoch="2016-01-01"          timestampBits="38" generatorIdBits="11" sequenceBits="13" tickDuration="0:00:00.001" />
      <idGenerator name="e2" id="2"     epoch="2016/01/01"          timestampBits="38" generatorIdBits="11" sequenceBits="13" tickDuration="0:00:00.001" />
    </idGenerators>
  </idGenSection>
  
</configuration>